<div class="container fade-in" data-controller="channel-subscription" data-channel-subscription-channel-id-value="<%= @channel.id %>", data-channel-subscription-user-id-value="<%= current_user.id%>">
  <h2> <%= @house.name %> : <%=@channel.name.capitalize%></h2>
        <div class = "message-board" data-channel-subscription-target="messages">
            <% @channel.messages.sort_by{|message| message.created_at}.each do |message| %>
            <%= render 'shared/message', message: message %>
            <% end %>
       </div>
       <div class= "message-input">
        <%= simple_form_for([ @house, @channel, @message], remote: true,   html: {data: {channel_subscription_target: "form"}, class: "form-inline"}) do |f| %>
          <%= f.input_field :content, label: false, placeholder:"Participez à la conversation, old fellow!"%>
          <%#= f.button :submit, class:'btn btn-secondary' do%>
           <button type="submit" style = "width: auto">
                 <%= inline_svg_tag('rocket.svg')%>
            </button>
        <% end %>
      </div>
</div>
