<div class="container">
  <h2> <%= @house.name %> : <%=@channel.name.capitalize%></h2>
        <div class = "message-board">
            <% @messages.each do |message| %>
              <% if message == @messages.last %>
                  <% if message.user == current_user %>
                    <div class="message-box-user">
                      <a id = "last">
                      <div class = "message-author-<%= message.user.tribe.color %>">Vous : </div>
                      <div class="message-content"><%=message.content%></div>
                      </a>
                    </div>
                  <%else%>
                    <div class="message-box">
                       <a id = "last">
                      <div class = "message-author-<%= message.user.tribe.color %>"><%= message.user.first_name %> : </div>
                      <div class="message-content"><%=message.content%></div>
                      </a>
                    </div>
                  <%end%>
              <%else%>
                <% if message.user == current_user %>
                  <div class="message-box-user">
                    <div class = "message-author-<%= message.user.tribe.color %>">Vous : </div>
                    <div class="message-content"><%=message.content%></div>
                  </div>
                <%else%>
                  <div class="message-box">
                    <div class = "message-author-<%= message.user.tribe.color %>"><%= message.user.first_name %> : </div>
                    <div class="message-content"><%=message.content%></div>
                  </div>
                <%end%>
              <%end%>
            <% end %>
       </div>
       <div class= "message-input">
        <%= simple_form_for([ @house, @channel, @message], html: {class: 'form-inline'} ) do |f| %>
          <%= f.input_field :content, label: false, placeholder:"Participez à la conversation"%>
          <%#= f.button :submit, class:'btn btn-secondary' do%>
           <button type="submit">
                 <%= inline_svg_tag('Check_ring_light.svg')%>
            </button>
        <% end %>
      </div>
</div>
