<div class="container">
  <h2> <%= @house.name %> : <%=@channel.name.capitalize%></h2>
        <div class = "message-board">
            <% @messages.each do |message| %>
              <% if message == @messages.last %>
                <a id = "last">
                  <% if message.user == current_user %>
                    <div class="message-box-user">
                      <div class = "message-author-<%= message.user.tribe.color %>">Vous : </div>
                      <div class="message-content"><%=message.content%></div>
                    </div>
                  <%else%>
                    <div class="message-box">
                      <div class = "message-author-<%= message.user.tribe.color %>"><%= message.user.first_name %> : </div>
                      <div class="message-content"><%=message.content%></div>
                    </div>
                  <%end%>
                </a>
              <%else%>
                <% if message.user == current_user %>
                  <div class="message-box-user">
                    <div class = "message-author-<%= message.user.tribe.color %>">Vous : </div>
                    <div class="message-content"><%=message.content%></div>
                  </div>
                <%else%>
                  <div class="message-box">
                    <div class = "message-author-<%= message.user.tribe.color %>"><%= message.user.first_name %> : </div>
                    <div class="message-content"><%=message.content%></div>
                  </div>
                <%end%>
              <%end%>
            <% end %>
       </div>
</div>
