<div class="container">
  <div class="header-buttons d-flex justify-content-center mb-4">
    <span class="icon-link">
      <%= link_to house_spendings_path(@house) do %>
        <%= inline_svg_tag('sort.svg') %>
      <%end%>
    </span>
    <span class="icon-link" style= "opacity:0.4">
      <%= link_to house_balances_path(@house) do %>
        <%= inline_svg_tag('balance.svg') %>
      <%end%>
    </span>
  </div>
  <h1>Equilibre des dépenses :</h1>
  <% @house.tribes.each do |tribe| %>
    <div class="d-flex histogram" style="width:100%">
      <% if @tribes_datas[tribe][:vw].positive? %>
        <div style="width:10%">
          <%= cl_image_tag(tribe.admin.photo.key, :class => "avatar-bordered #{tribe.color}") %>
        </div>
        <div style="width:45%" class="d-flex justify-content-end">
          <div style="background-color:blue;width:0vw"></div>
        </div>
        <div style="width:45%" class="d-flex justify-content-start">
          <div class="histo-bar <%= tribe.color %>" style="width:<%= @tribes_datas[tribe][:vw] %>%"><p><%= @tribes_datas[tribe][:corrected_amount].round %> €</p></div>
        </div>
      <% else %>
        <div style="width:10%">
          <%= cl_image_tag(tribe.admin.photo.key, :class => "avatar-bordered #{tribe.color}") %>
        </div>
        <div style="width:45%" class="d-flex justify-content-end">
          <div class="histo-bar <%= tribe.color %>" style="width:<%= -@tribes_datas[tribe][:vw] %>%"><p><%= @tribes_datas[tribe][:corrected_amount].round %> €</p></div>
        </div>
        <div style="width:45%" class="d-flex justify-content-start">
          <div style="background-color:blue;width:0vw"></div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
