<div class="container">
  <div class="header-buttons d-flex justify-content-center mb-4">
    <span class="icon-link">
      <%= link_to house_spendings_path(@house) do %>
        <%= inline_svg_tag('sort.svg') %>
      <%end%>
    </span>
    <span class="icon-link" style= "opacity:0.4">
      <%= link_to house_balances_path(@house) do %>
        <%= inline_svg_tag('balance.svg') %>
      <%end%>
    </span>
  </div>
  <div class="pb-5">
    <h1>Dépenses de chacun :</h1>
    <%= pie_chart(@spendings_per_tribe, donut: true, colors: ["#6D62D0", "#FA672A", "#2CC7AF"], suffix: " €", round: 2, zeros: false, discrete: true, thousands: " ") %>
  </div>
  <div>
    <h1>Equilibre des dépenses :</h1>
    <%= bar_chart(@balance_per_tribe, suffix: " €", colors: ["#ed4e60", "#50BFA5"], round: 2, zeros: true, discrete: true, thousands: " ", points: false) %>
  </div>
</div>
