<div class="container">
  <div class="header-buttons d-flex justify-content-center mb-4">
    <span class="icon-link" style= "opacity:0.4">
      <%= link_to house_spendings_path(@house) do %>
        <%= inline_svg_tag('sort.svg') %>
      <%end%>
    </span>
    <span class="icon-link">
      <%= link_to house_balances_path(@house) do %>
        <%= inline_svg_tag('balance.svg') %>
      <%end%>
    </span>
  </div>
  <% @spendings.each do |spending| %>
    <%= render 'shared/spending_preview', spending: spending %>
  <% end %>
</div>
