<h2>Add a new house</h2>

<%= simple_form_for(@house) do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :city %>
  <%#= f.input :country %>
  <%= f.input :daily_price %>
  <%= f.submit %>
<% end %>
