<div class="container fade-in">
  <div class="header-buttons d-flex justify-content-center mb-3">
    <span class="icon-link">
      <%= link_to calendar_path(@house) do %>
        <%= inline_svg_tag('Date_range_light.svg') %>
      <%end%>
    </span>
    <span class="icon-link" style= "opacity:0.4">
      <%= inline_svg_tag('sort.svg') %>
    </span>
  </div>
  <h2>Liste des réservations pour <%= @house.name %></h2>
  <div>
    <% @bookings.each do |booking| %>
      <%= render 'shared/simple_booking_preview', booking: booking %>
    <% end %>
  </div>
</div>
