<h1>Booking - Show</h1>

<%= @booking.id %>
<%= @booking.arrival %>
<%= @booking.departure %>
<%= @booking.total_price %>
<%= @booking.status %>
<%= @booking.house.name %>
<%= @booking.user.first_name %>
