<%= link_to booking_path(booking) do %>
  <div class="item-preview <%= booking.user.tribe.color %>">
    <%= cl_image_tag(booking.user.photo.key, :class => "avatar border-#{booking.user.tribe.color}") %>
    <div class="item-data">
      <h5><%= current_user == booking.user ? "Vous" : "#{booking.user.first_name}" %></h5>
      <p>Du <%= booking.arrival %> au <%= booking.departure %></p>
    </div>
    <div class="chevron">
    </div>
  </div>
<% end %>
