<div class="icons d-flex justify-content-md-around">
  <% if user_signed_in? %>
      <%= link_to root_path, class: "icon-link" do %>
        <%= inline_svg_tag('Home_light.svg')%>
      <% end %>

      <%= link_to root_path, class: "icon-link" do %>
        <%= inline_svg_tag('Chat_light.svg')%>
      <% end %>


      <%= link_to root_path, class: "icon-link" do %>
      <%= inline_svg_tag('Date_range_light.svg')%>
      <% end %>


      <%= link_to root_path, class: "icon-link" do %>
      <%= inline_svg_tag('spendings.svg')%>
      <% end %>
  <% end %>
</div>
