<h1>New Spending</h1>



<div id="new-spending-modal" class="new-spending d-none" data-new-spending-modal-target="newSpendingModal">
  <i id="close-modal" class="fas fa-chevron-circle-left admin-icones" data-action="click->new-spending-modal#close"></i>
  <div class="new-spending-details">
    <div class="spending-info d-flex flex-column" data-new-spending-modal-target="modalInfo">
      <div>
        <%= simple_form_for([@house, @spending]) do |f| %>
          <%= f.input :amount, as: :integer %>
          <%= f.input :category, collection: Spending::CATEGORIES %>
          <%= f.input :date, as: :date, html5: true %>
          <%= f.input :details, as: :text %>
          <%= f.submit %>
        <% end %>
      </div>
    </div>

    <div class="new-spending-modal-footer">
      <div class="d-flex w-50 justify-content-between">
        <%= inline_svg_tag('check_red_cross.svg', data: { action: "click->new-spending-modal#cancel" }) %>
        <%= inline_svg_tag('check_validated.svg', data: { action: "click->new-spending-modal#submit" }) %>
      </div>
    </div>
  </div>
</div>
