<div class="modal fade" id="booking-modal" tabindex="-1" aria-labelledby="booking-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="booking-recap-modal pt-3">
      <div class="d-flex justify-content-center">
        <%= inline_svg_tag('g12.svg')%>
      </div>
      <div class="modal-body booking-info pb-0" data-select-dates-target="modalInfo">
        <div class="row">
          <div class="col-10 text-start">
              <p>Votre solde : <b><%= current_user.tribe.credits %></b> crédits</p>
          </div>
        </div>
        <div>
          <%= simple_form_for([ @house, @booking ], html: { data: { select_dates_target:"form" } }) do |f| %>
          <%= f.input :arrival, as: :date, html5: true, label: false, input_html: {:"data-select-dates-target"=> "arrival", :"class"=>"d-none"} %>
          <%= f.input :departure, as: :date, html5: true, label: false, input_html: {:"data-select-dates-target"=> "departure", :"class"=>"d-none"} %>
          <% end %>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <div class="d-flex w-50 justify-content-between">
          <%= link_to calendar_path(@house), class: "icon-link", data: { dismiss: "modal" } do %>
            <%= inline_svg_tag('Dell_light.svg')%>
          <% end %>

          <span class="icon-link">
            <%= inline_svg_tag('Check_ring_light.svg', data: { action: "click->select-dates#submit" }) %>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
