<div class="modal-container" data-select-dates-target="newBookingModal">
  <div class="modal-margin">
  </div>
  <div class="modal-title-box">
    <div class="modal-back">
      <i class="fas fa-chevron-circle-left admin-icones" data-action="click->select-dates#cancel"></i>
    </div>
    <div class="modal-title">
      <h1>NOUVELLE RÉSERVATION</h1>
    </div>
  </div>
  <div class="new-modal-content" data-select-dates-target="modalInfo">
  </div>
  <div class="modal-button">
    <%= inline_svg_tag('check_validated.svg', data: { action: "click->select-dates#submit" }) %>
  </div>
  <div class="new-modal-footer">
    <%= image_tag('modal_bottom.png') %>
  </div>
</div>

<div>
  <%= simple_form_for([ @house, @booking ], html: { data: { select_dates_target:"form" } }) do |f| %>
    <%= f.input :arrival, as: :date, html5: true, label: false, input_html: {:"data-select-dates-target"=> "arrival", :"class"=>"d-none"} %>
    <%= f.input :departure, as: :date, html5: true, label: false, input_html: {:"data-select-dates-target"=> "departure", :"class"=>"d-none"} %>
  <% end %>
</div>
