<div class="modal-container" data-controller="rename-booking" data-booking-modal-target="reset">
  <div class="modal-margin">
  </div>
  <div class="modal-title-box">
    <div class="modal-back">
      <i class="fas fa-chevron-circle-left admin-icones" data-action="click->booking-modal#closeBookingModal"></i>
    </div>
    <div class="modal-title">
      <% if booking.user? %>
        <% if booking.user == current_user %>
          <h2 class="text-center px-3 py-1">VOTRE RÉSERVATION</h2>
        <% else %>
          <h2 class="text-center px-3 py-1"> RÉSERVATION DE <%= booking.user.first_name.upcase %></h2>
        <% end %>
      <% else %>
        <h2 class="text-center px-3 py-1">RÉSERVATION <%= booking.platform.name.upcase %></h2>
      <% end %>
    </div>
    <div class="modal-back d-none">
      <i class="fas fa-chevron-circle-left admin-icones" data-action="click->booking-modal#closeBookingModal"></i>
    </div>
  </div>
  <div class="modal-avatar">
    <% if booking.user? %>
      <%= cl_image_tag(booking.user.photo.key, :class => "avatar-bordered-large #{booking.user.tribe.color}") %>
    <% else %>
      <%= cl_image_tag(booking.platform.photo.key, :class => "avatar-bordered-large platform") %>
    <% end %>
  </div>
  <div class="new-modal-content">
    <div class="d-flex align-items-center" data-rename-booking-target="currentInfo">
      <div class="modal-dates col-7 p-2">
        <h2>du <strong><%= I18n.l(booking.arrival, format: '%A %d %B') %></strong></h2>
        <h2> au <strong><%=  I18n.l(booking.departure, format: '%A %d %B') %></strong></h2>
        <p>(<%= booking.nb_days %> jours)</p>
      </div>
      <% if booking.user? %>
        <div class="d-flex justify-content-evenly col-5">
          <div>
          <% if booking.validated? %>
            <%= image_tag('validated.png', size: "80x80") %>
            <p>Validée le <%= booking.updated_at.to_date.strftime('%d/%m/%y') %></p>
          <% elsif booking.pending? %>
            <%= image_tag('pending.png', size: "80x80") %>
            <p><em>En attente de validation</em></p>
          <% elsif booking.declined? %>
            <%= image_tag('cancelled.png', size: "80x80") %>
            <p>Refusée le <%= booking.updated_at.to_date.strftime('%d/%m/%y') %></p>
          <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <% if booking.user? %>
      <div class="d-none" data-rename-booking-target="displayForm">
        <%= simple_form_for(booking,:url => update_booking_path(booking) ,html: { data: { rename_booking_target: "form" } }) do |f| %>
          <%= f.input :arrival, as: :date, html5: true, label: false%>
          <%= f.input :departure, as: :date, html5: true, label: false%>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="modal-button">
    <% if booking.user? %>
      <div class="simple-booking-modal-footer" data-rename-booking-target="currentFooter">
        <% if booking.user == current_user %>
          <%= image_tag('Edit.png', size: "50x50", :'data-action'=>"click->rename-booking#form") %>
        <% end %>
        <% if current_user.admin? && booking.user.tribe == current_user.tribe && booking.pending? %>
          <div class="d-flex w-50 justify-content-between">
            <%= link_to admin_decline_booking_path(booking), method: :patch do %>
              <%= image_tag('canceled.png', size: "50x50", data: { action: "click->rename-booking#clear" }) %>
            <% end %>
            <%= link_to admin_validate_booking_path(booking), method: :patch do %>
              <%= image_tag('validated.png', size: "50x50") %>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="simple-booking-modal-footer d-none" data-rename-booking-target="displayFooter">
        <div class="d-flex w-75 justify-content-between">
          <%= link_to delete_booking_path(booking), method: :delete, data: { confirm: "Oh, Dear! Plus de vacances ??" } do %>
            <%= image_tag('trash.png', size: "50x50") %></a>
          <% end %>
          <%= image_tag('validated.png', size: "50x50", data: { action: "click->rename-booking#submit" }) %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="new-modal-footer">
    <%= image_tag('modal_bottom.png') %>
  </div>
</div>
