<div class="container p-0" data-controller="booking-modal">
  <div class="simple-booking-overlay d-none" data-booking-modal-target="bookingOverlay">
    <div class='simple-booking d-none' data-booking-modal-target="bookingModal">
      <%= render 'shared/simple_booking_modal', booking: booking %>
    </div>
  </div>
  <div class="item-preview <%= booking.user? ? booking.user.tribe.color : "platform" %>" data-action="click->booking-modal#openBookingModal" data-booking-modal-target="openBookingButton">
    <% if booking.user? %>
      <%= cl_image_tag(booking.user.photo.key, :class => "avatar-bordered #{booking.user.tribe.color}") %>
    <% else %>
      <%= cl_image_tag(booking.platform.photo.key, :class => "avatar-bordered platform") %>
    <% end %>
    <div class="item-data">
      <div class="d-flex">
        <h2>
          <% if booking.user? %>
            <%= current_user == booking.user ? "Vous" : "#{booking.user.first_name}" %>
          <% else %>
            <%= booking.platform.name %>
          <% end %>
        </h2>
        <% if booking.pending? %>
          <p><em> - En attente de validation</em></p>
        <% elsif booking.declined? %>
          <p><em> - Refusé</em></p>
        <% end %>
      </div>
      <p>Du <%= booking.arrival.strftime('%d/%m/%y') %> au <%= booking.departure.strftime('%d/%m/%y') %></p>
    </div>
    <div class="chevron">
    </div>
  </div>
</div>
