<div class="container p-0" data-controller="booking-modal">
  <div class="simple-booking-overlay d-none" data-booking-modal-target="bookingOverlay">
    <div class='simple-booking d-none' data-booking-modal-target="bookingModal">
      <%= render 'shared/simple_booking_modal', booking: booking %>
    </div>
  </div>
  <div class="item-preview <%= booking.user.tribe.color %>" data-action="click->booking-modal#openBookingModal" data-booking-modal-target="openBookingButton">
    <%= cl_image_tag(booking.user.photo.key, :class => "avatar-bordered #{booking.user.tribe.color}") %>
    <div class="item-data">
      <h2><%= current_user == booking.user ? "Vous" : "#{booking.user.first_name}" %></h2>
      <p>Du <%= booking.arrival.strftime('%d/%m/%y') %> au <%= booking.departure.strftime('%d/%m/%y') %></p>
    </div>
    <div class="chevron">
    </div>
  </div>
</div>
