<div class="simple-calendar" data-controller="select-dates">
  <div class="calendar-heading">
    <%= link_to t('simple_calendar.previous', default: 'Previous'), calendar.url_for_previous_view %>
    <span class="calendar-title"><%= t('date.month_names')[start_date.month] %> <%= start_date.year %></span>
    <%= link_to t('simple_calendar.next', default: 'Next'), calendar.url_for_next_view %>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th><%= t('date.abbr_day_names')[day.wday] %></th>
        <% end %>
      </tr>
    </thead>

    <tbody data-click="arrival" data-select-dates-target="body">
      <% date_range.each_slice(7) do |week| %>
        <tr>
          <% week.each do |date| %>
            <%= content_tag :td,
              class: calendar.td_classes_for(date),
              data: {
                action: "click->select-dates#select",
                select_dates_target: "date",
                date: "#{date}",
                onclick: "arrival"
                } do %>
              <% passed_block.call date.day, sorted_events.fetch(date, []) %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <a href="#booking-modal" id="book-button" class="btn btn-blue d-none" data-bs-toggle="modal" data-bs-target="#booking-modal" data-select-dates-target="button">
    Réserver
  </a>
</div>
