<div class="simple-calendar" data-controller="select-dates" data-select-dates-daily-price-value="<%= @house.daily_price %>" data-select-dates-tribe-credit-balance-value="<%= current_user.tribe.credits %>">
  <div class="calendar-heading">
    <span class="calendar-title"><%= t('date.month_names')[start_date.month] %> <%= start_date.year %></span>
    <span>
      <%= link_to calendar.url_for_previous_view do%>
        <i class="fas fa-chevron-up"></i>
      <%end%>
      <%= link_to calendar.url_for_next_view do%>
        <i class="fas fa-chevron-down"></i>
      <%end%>
    </span>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th><%= t('date.abbr_day_names')[day.wday] %></th>
        <% end %>
      </tr>
    </thead>

    <tbody data-click="arrival" data-select-dates-target="body">
      <% date_range.each_slice(7) do |week| %>
        <tr>
          <% week.each do |date| %>
            <%= content_tag :td,
              class: calendar.td_classes_for(date),
              data: {
                action: "click->select-dates#select",
                select_dates_target: "date",
                date: "#{date}",
                onclick: "arrival"
                } do %>
              <% passed_block.call date.day, sorted_events.fetch(date, []) %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <!-- button to display the new booking modal -->
  <a href="" id="book-button" class="btn btn-blue d-none" data-select-dates-target="bookButton" data-action="click->select-dates#newBookingModalShow">
    <i class="fas fa-plus-circle"></i>&nbsp;&nbsp;RESERVER
  </a>

  <!-- new booking modal -->
  <div class="container">
    <div class="simple-booking-overlay d-none" data-select-dates-target="newBookingOverlay">
      <%= render 'shared/simple_new_booking_modal' %>
    </div>
  </div>

  <!-- existing booking modal -->
  <div class="container" data-controller="booking-modal" data-select-dates-target="existingBookingContainer">
    <div class="simple-booking-overlay d-none" data-booking-modal-target="bookingOverlay">
      <div class='simple-booking d-none' data-select-dates-target="existingBookingModal", data-booking-modal-target="bookingModal">
      </div>
    </div>
  </div>

  <!-- button to get the booking preview => it should be useless if we directly show the existing booking modal -->
  <!-- <a href="" id="booking-preview-button" class="btn btn-blue d-none" data-bs-toggle="modal" data-bs-target="#booking-preview-modal" data-select-dates-target="previewButton">
  </a> -->

  <!-- booking preview modal-->
  <!-- not necessary anymore if we decide to skip showing the preview and to directly show the modal
  <div class="modal fade" id="booking-preview-modal" tabindex="-1" aria-labelledby="booking-modal-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body" data-select-dates-target="bookingModal">
        </div>
      </div>
    </div>
  </div> -->

</div>
