<!DOCTYPE html>
<html>
  <head>
    <title><%= meta_title %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
    <meta http-equiv="ScreenOrientation" content="autoRotate:disabled">
    <%#= favicon_link_tag %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />

     <!-- PWA -->
    <meta name="theme-color" content="#FBC24C">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="<%= image_path 'icons/ms-icon-144x144.png' %>">
    <%= render 'shared/ios_pwa_links' %>

    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <div class="app-container<%= ' position-fixed' if params['controller'] == 'houses' && params["action"] == 'calendar' %>">
      <%= render 'shared/header' %>
      <%= render 'shared/flashes' %>
      <%= yield %>
      <%= render 'shared/bottom_navbar' %>
    </div>
  </body>
</html>
